In [1]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [2]:
#create  a data frame
df=pd.DataFrame({
    'color':['red','blue','green','red','blue']
})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [5]:
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df[['color']]).toarray()

In [7]:
import pandas as pd 
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [8]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [9]:
##for new data 
encoder.transform([['blue']]).toarray()

c:\Users\pranav\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [10]:
####Label Encoding

import pandas as pd 
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [11]:
lb.fit_transform(df[['color']])

c:\Users\pranav\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [13]:
lb.transform([['blue']])

c:\Users\pranav\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [18]:
#ordinal encoding 
from sklearn.preprocessing import OrdinalEncoder

In [19]:
df= pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [20]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [21]:
oe=OrdinalEncoder(categories=[['small','medium','large']])

In [22]:
oe.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [23]:
oe.transform([['small']])

c:\Users\pranav\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])