In [1]:
#handling imbalanced data set
# 1.up sampling
# 2.down sampling
import numpy as np
import pandas as pd 

np.random.seed(123)
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [8]:


# Create the DataFrame for class 0 with target value 0
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0  # Corrected to use n_class_0
})

# Create the DataFrame for class 1 with target value 1
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

# Combine the two classes into one DataFrame and shuffle the rows
df = pd.concat([class_0, class_1], ignore_index=True).sample(frac=1).reset_index(drop=True)

# Display the first few rows of the imbalanced dataset
print(df.head())

   feature_1  feature_2  target
0  -0.904204  -0.398747       0
1   2.705183  -0.405365       1
2  -0.232071  -0.564452       0
3  -0.125152   0.448521       0
4  -1.953853  -0.131361       0

In [12]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [13]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [14]:
from sklearn.utils import resample

In [16]:
df_minority_unsampled= resample(df_minority,replace=True,
         n_samples=len(df_majority),
         random_state=42)

In [17]:
df_minority_unsampled.shape

(900, 3)

In [18]:
df_minority_unsampled.head()

     feature_1  feature_2  target
529   2.876278   2.083085       1
936   1.423537   0.987403       1
121   0.901952   1.850593       1
747   1.642604   0.536220       1
642  -0.188312   2.314731       1

In [19]:
df_unsampled= pd.concat([df_majority,df_minority_unsampled])

In [20]:
df_unsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [22]:
##down sampling 


# Create the DataFrame for class 0 with target value 0
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0  # Corrected to use n_class_0
})

# Create the DataFrame for class 1 with target value 1
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

# Combine the two classes into one DataFrame and shuffle the rows
df = pd.concat([class_0, class_1], ignore_index=True).sample(frac=1).reset_index(drop=True)

# Display the first few rows of the imbalanced dataset
print(df.head())
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

   feature_1  feature_2  target
0  -0.458815  -0.986592       0
1   2.151965   1.988895       1
2   2.224520   2.201467       1
3  -0.262915  -0.747584       0
4  -0.775421   0.132885       0

In [ ]:
df_majority_unsampled= resample(df_minority,replace=False,
         n_samples=len(df_minority),
         random_state=42)

In [25]:
df_majority_unsampled.shape

(900, 3)